<div class="panel panel-primary">
  <div class="panel-heading">

		<h1><%= @church.name %></h1>
	</div></br>
	<p>Located in: <%= @church.city %></p>

	<p>"<%= @church.description %>"</p>

	<p><%= @church.tag_list %></p>
	<p><%= @church.denomination_list %></p>

</div>
