

<div class="list-group">
    <h2 class="list-group-item-heading"><%= @church.name %></h2>
	  <%= render partial: 'favorites/favorite', locals: { church: @church } %>

	<div class="pull-right">
	  <%= image_tag(@church.image) if @church.image? %>
	</div>
</div>	


	<% if can? :edit, @post %>
	  <div class="pull-right">
	  <%= link_to "Edit", edit_church_path(@church), class: 'btn btn-block btn-default' %>
	  
		<%= link_to "Delete", @church, method: :delete, class: 'btn btn-large btn-block btn-danger', confirm: 'Are you sure you want to delete this church?' %>
	 	</div>
	<% end %>
	<p>Located in: <%= @church.city %></p>

	<p>Description: <%= @church.description %></p>

	<p><%= @church.tag_list %></p>
		<p>Denomination: <%= @church.denomination_list %></p>

	<% if user_signed_in? %>
		<%= render partial: 'churches/posts/form', locals: { church: @church, post: @post }%>
	<% end %>
	<div class="churcy">
		<%= render partial: 'churches/posts/posts', locals: { church: @church, post: @post }%>
	</div>
</div>

<!-- <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div> -->

<script type="text/javascript">
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
	  markers = handler.addMarkerss(<%=raw @hash.to_json %>);
	  handler.bounds.extendWith(markers);
	  handler.fitMapToBounds();
	});
</script>
			  

