<div class="list-group">
	<% posts.each do |post| %>
	  <div class="list-group-item">
	    <h4 class="list-group-item-heading"><%= post.user.name %></h4>
	    <p class="list-group-item-text">
	    	<div class='pull-left'>
				 	<%= image_tag(post.user.avatar.small.url) %>
				</div>
	    	<%= post.body %>
	    	submitted <%= time_ago_in_words(post.created_at) %> ago by
			 	@<%= link_to post.user.username, post %>

			 	<!--<add link_to user_path, to the @username-->
	    </p>
	  </div>
  
  <% end %>
</div>

