<!DOCTYPE html>
<html>
<head>
  <title>Chuych</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="container">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Find by city or church">
        </div>
        <button type="submit" class="btn btn-default-sm">Find a church</button>
      </form>
    <ul class="nav nav-tabs">
    	<li><%=link_to "Home[Feedback Stream]", root_path %></li>
      <li><%=link_to "create a post", '#' %></li>
      <li><%=link_to "Churches", churches_path %></li>

      <div class="pull-right user-info">
        <% if current_user %>
        
         <%= image_tag(current_user.avatar.tiny.url) if current_user.avatar? %>

            Hello <%= link_to (current_user.name || current_user.email), edit_user_registration_path %>! 

          <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <% else %>  
          <li><%= link_to "Sign In", new_user_session_path %> or</li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>

    </ul>

     <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

<%= yield %>
	</div>

</body>
</html>
