<!DOCTYPE html>
<html>
<head>
  <title>Chuych</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>

	<div class="container">
    
    <ul class="nav nav-tabs">
    	<li><%=link_to root_path, class: 'btn btn-mini' do %>
        <i class="glyphicon glyphicon-home"> </i>
        <% end %>
      </li>
      <li><%=link_to "Post", posts_path %></li>
      <li><%=link_to "Churches", churches_path %></li>
      <li><%=link_to "Followed Churches", '#' %></li>


      <div class="pull-right user-info">
        <% if current_user %>
        
         <%= link_to image_tag(current_user.avatar.tiny.url), current_user if current_user.avatar? %>

        Hello <%= link_to (current_user.name || current_user.email), current_user %>!
          <%= link_to edit_user_registration_path, class: 'btn btn-mini' do %>
            <i class="glyphicon glyphicon-user"> </i>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-mini' do %>
            <i class="glyphicon glyphicon-off">  </i>
          <% end %>
        <% else %>
  
          <li><%= link_to "Sign In", new_user_session_path %> or</li>
          <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <% end %>
    </ul>

     <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
    <% elsif flash[:error] %>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
    <% elsif flash[:alert] %>
      <div class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:alert] %>
      </div>
    <% end %>

<%= yield %>
	</div>

</body>
</html>
